.dot-grid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.dot {
  width: 5px;
  height: 5px;
  position: absolute;
  font-size: 6px;
  color: #4ecdc4;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #091d20;
  overflow: hidden;
  height: 100vh;
}

/* TITLE */
.center {
  position: absolute;
  top: 40%;
  left: 24%;
  transform: prespective(1000px) translate(-50%, -50%);
  transform: skewY(15deg);
  transition: 2s;
}


/* .center:hover { */
.centerok {
  transform: prespective(1000px) translate(-50%, -50%);
  transform: skewY(0deg);
}

.center h3 span {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 6em;
  color: #f7fff7;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.center h3 span:nth-child(1) {
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 45%);
}

.center h3 span:nth-child(2) {
  color: #4ecdc4;
  transform: translate(-50%, -50%) skewX(-60deg);
  left: -38px;
  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.center h3 span:nth-child(3) {
  transform: translate(-50%, -50%) skewY(0deg);
  left: -76px;
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}

/****
*/
.center:hover h3 span:nth-child(2) {
  color: #4ecdc4;
  transform: translate(-50%, -50%) skewX(-60deg);
  left: -38px;
  clip-path: polygon(0 45%, 100% 45%, 100% 55%, 0 55%);
}

.center:hover h3 span:nth-child(3) {
  transform: translate(-50%, -50%) skewY(0deg);
  left: -76px;
  clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
}
/*
*****/

/* TITLE - end */
.center-links {
  position: absolute;
  top: 53%; /* Adjust this as per your needs */
  left: 4%;
  font-size: 2em; /* Adjust this as per your needs */
  color: #f7fff7;
  transition: 0.5s;
}

.center-links a {
  color: #f7fff7;
  text-decoration: none;
  margin-right: 20px;
  transition: 0.3s;
}

.center-links a:hover {
  color: #4ecdc4;
}

.center-links:not(hover) {
  transform: translateY(-50%) skewY(0deg);
}
.footer {
  position: fixed;
  bottom: 0;
  left: -25px;
  width: 100%;
  color: #f7fff7;
  padding: 10px;
  text-align: right;
}
